* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


:root {
--LimeGreen: hsl(163, 72%, 41%);
--BrightRed: hsl(356, 69%, 56%);
--Facebook: hsl(208, 92%, 53%);
--Twitter: hsl(203, 89%, 53%);
--Instagram: hsl(37, 97%, 70%);
--YouTube: hsl(348, 97%, 39%);
--Toggle: hsl(230, 22%, 74%);

//Light Theme
--bg:  hsl(0, 0%, 100%);
--TopBg:  hsl(225, 100%, 98%);
--cardBg: hsl(227, 47%, 96%);
--Text-1: hsl(228, 12%, 44%);
--Text-2: hsl(230, 17%, 14%);
}


//Dark Theme


.dark-theme {
    --Toggle: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    --bg:  hsl(230, 17%, 14%);
    --TopBg: hsl(232, 19%, 15%);
    --cardBg: hsl(228, 28%, 20%);
    --Text-1: hsl(228, 34%, 66%);
    --Text-2:  hsl(0, 0%, 100%);
}



html {
    scroll-behavior: smooth;
    font-size: 65.5%;
}

img {
    width: 100%;
    display: block;
}

a {
    color: inherit;
    font-family: inherit;
}
body {
    font-size: 1.4rem;
    line-height: 1.5;
    font-family: 'Inter', sans-serif;
    background: var(--bg);
    font-weight: 400;
    color: var(--Text-2);
}