.stats {
    background: var(--cardBg);
    padding: 1.5em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    display: grid;
    gap: 2rem;
    &:nth-child(2), &:nth-child(7), &:nth-child(8)  {
        .values {
            small {
                color: var(--BrightRed);
            }
        }
    }
    .pageV {
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
            color: var(--Text-1);
            font-weight: 700;
        }
        img {
            width: 15px;
            height: 15px;
        }
    }
    .values {
        display: flex;
        align-items: center;
        justify-content: space-between;
        small {
            display: flex;
            align-items: center;
            gap: .5rem;
            color: var(--LimeGreen);
            font-weight: 700;
            img {
                width: 10px;
                height: 5px;
            }
        }
    }
}